body{
    margin: 0 auto;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.add{
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 1px 0 6px 3px #ccc;
}

div .addBtn{
    border: none;
    background-color: #08beff;
    color: #fff;

}
.table{
    display: table;
    margin: 0 auto;

}


.table_row{
    display: table-row;
    border-bottom: 1px solid #ccc;
}

.table_row-head{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #08beff;
    box-shadow: 1px 0 6px 3px #ccc;
}

.table_cell{
    display: table-cell;
    padding: 10px;

}



